body {
  background-color: #1fd9faee;
  text-align: center;
  position: relative;
}

.overflow-auto {
  width: 500px;
  height: 500px;
}

#loginForm {
  display: inline-flex;
  flex-direction: column;
  width: 200px;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  height: 200px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#Main-container {
  border: solid 2px #1fd9faee;
  height: 700px;
  width: 1260px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 60px;
  padding: 30px;
}

#Followers {
  border: solid 2px black;
  height: 155px;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: rgba(31, 217, 250, 0.934);
  text-align: center;
}

#nav-bar {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  height: 200px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

#Main-container {
  border: solid 2px black;
  height: 700px;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: 70px;
  padding: 30px;
}

#Followers {
  border: solid 2px black;
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: row;
}

#Aside {
  border: solid 2px black;
  height: 700px;
  width: 150px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

#Timeline {
  border: solid 2px black;
  height: 700px;
  width: 750px;
  text-align: center;
}
